.chat {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-block: 16px;
  gap: 16px;
  flex: 1;
}

.chat::-webkit-scrollbar {
  display: none;
}

.chatList {
  flex: 1;
  overflow: auto;
}

.chatList :global(.ant-bubble-footer) {
  width: 100%;
  margin-top: 8px;
}

.chatList :global(.ant-bubble-content) {
  min-height: 0px;
}

.chatList :global(.ant-btn-icon) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubbleList {
  height: 100%;
  max-width: 800px;
  margin-inline: auto;
}

.loadingContainer {
  width: 100%;
  max-width: 600px;
  padding: 12px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.loadingContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.loadingContent :global(.ant-spin) {
  color: #1890ff;
}

.loadingContent :global(.ant-spin-dot-item) {
  background-color: #1890ff;
}

.skeletonContainer {
  width: 600px;
}
