@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../node_modules/streamdown/dist/index.js";
@plugin 'tailwind-scrollbar';

/* 隐藏滚动条 */
.hide-scrollbar {
  -webkit-overflow-scrolling: touch;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
